<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">  
    <type name="Magento\Catalog\Ui\DataProvider\Product\ProductDataProvider">
         <arguments>
            <argument name="collectionFactory" xsi:type="object">OsmanSorkar\MultiCart\Catalog\Collection</argument>
        </arguments>
    </type>
    <type name="Magento\Backend\Block\System\Account\Edit\Form">
        <plugin name="osmansorkar_multicart_add_newfield" type="OsmanSorkar\MultiCart\Plugin\Block\Adminhtml\System\Account\Edit\Form" sortOrder="1"/>
    </type>

</config>